.bg-gray{
  background-color: #2d4059;
}
.color-gray{
  color: #2d4059;
}

.bg-yellow{
  background-color: #ffb400;
}
.color-yellow{
  color: #ffb400;
}

.bg-red{
  background-color: #ea5455;
}
.color-red{
  color: #ea5455;
}

.bg-lightWhite{
  background-color: #f6f6f6;
}
.color-lightWhite{
  color: #f6f6f6;
}


.NavBtn{
  text-decoration: none!important;
  margin: 10px;

}

.DeleteBtn{
  cursor:pointer;
}
